<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<h2><%= subtitle %></h2>
<p>this is the <a href="/">home page</a></p>
Examples of the protein API: For human protein FABP1,
<ul>
    <li><a href="/protein/9606.ENSP00000295834/ortholog_groups/"> what taxonomy groups does it belong to?</a></li>
    <li><a href="/protein/9606.ENSP00000295834/ortholog_groups/PRIMATES/list_orthologs">what orthologs does it have at primate level?</a></li>
    <li><a href="/protein/9606.ENSP00000295834/ortholog_groups/PRIMATES/list_tissues">In what tissues does at least one ortholog have abundance values at primate level?</a></li>
    <li><a href="/protein/9606.ENSP00000295834/ortholog_groups/PRIMATES/LIVER"> what are the primate-level orthologs' abundances in the liver?</a></li>
</ul>
</body>
</html>
